# Google Gemini API Keys (API Pool)
VITE_GEMINI_API_KEY_1=AlzaSyBXgkvR_1CRGyDQb9-laYTXICtt9RglxV8
VITE_GEMINI_API_KEY_2=AlzaSyC4CIOQeF-OF1YzCfGSMnhlqiRESLAUBN
VITE_GEMINI_API_KEY_3=AlzaSyAdT3KSX_AiK8s4MgcJeL5IRMDtNIUW_Q
VITE_GEMINI_API_KEY_4=AIzaSyB2CVr9JMfyKUyOYWHoSkMWLwrvuFBjeIk
